<ul id="tabnav">
	<%= makeTab('Artists', 'index', tabs)-%>
	<%= makeTab('(All)', 'allartists', tabs)-%>
	<%= makeTab('Genres', 'genres', tabs)-%>
	<%= makeTab('Albums', 'albums', tabs)-%>
	<%= makeTab('Mixes', 'compilations', tabs)-%>
	<%= makeTab('Recent', 'recent', tabs)-%>
	<%= makeTab('Playlists', 'playlists', tabs)-%>
</ul>
