<%= render :partial => 'tabs', :object => 'Albums' -%>
<div id="tab"><div id="list"><ul id=listul>
<% @albums.each do |album| -%>
<%= tag('li', {:id => 'B'+album[1].to_s}, true) -%>
<%= render :partial => 'sublist', :object => {:title => album, :type => 'B'} -%></li>
<% end -%>
</ul></div></div>
<br />
